/* Body Styles */
html, body {
    width: 100%;
    height: 800px;
}
div {
    border: 5px solid black;
}
/* Columns */
.one, .two {
    display: flex;
    flex-direction: row;
    height: 200px;
}
.col-1-3 {
    width: 33.33%;
}
.col-1-2 {
    width: 50%;
}

/* Header and Footer Styles */
header, footer {
    text-align: center;
    border: 5px solid black;
    height: 200px;
}
