html, body {
    width: 100%;
    height: 800px;
}
header, footer, section, div {
    text-align: center;
    border: 5px solid black;
    height: 200px;
}

/* section container styles*/
.container {
    display: flex;
}
.forty {
    width: 40%;
}
.sixty {
    width: 60%;
}
